.wrapper{
  display: flex;
}
.side-bar{
  height: 100vh;
  width: 300px;
  background-color: #253141;
}
.side-header{
  height: 100px;
  padding: 0px 20px;
}
.rooms{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0px 20px;
}

.chat{
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
}
.chat-header{
  height: 100px;
  padding: 0px 40px;
}
.messages{
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0px;
}
.form{
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
}